[Interface]
Address = {{ wg_ip }}/24
PrivateKey = {{ wg_private_key }}
ListenPort = 51820

{% for host in groups['vpn_servers'] if host != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[host].wg_public_key }}
AllowedIPs = {{ hostvars[host].wg_ip }}/32
Endpoint = {{ hostvars[host].ansible_host }}:51820
{% endfor %}